@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* body {
    font-family: 'Roboto', sans-serif !important;
  }
  
  code, pre {
    font-family: 'Source Code Pro', monospace !important;
  } */
body {
font-family: 'Pacifico', cursive !important;
}

code, pre {
font-family: 'Courier New', monospace !important;
}